<div class="main-container">

    <div class="head-container">
        <h1 class="heading">Registered Users</h1>
    </div>
    

        <mat-card> <table mat-table [dataSource]="dataSource"
            class="mat-elevation-z8">
            
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}}
                </td>
            </ng-container>

            <!-- first name Column -->
            <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef> FIRST NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.first_name}}
                </td>
            </ng-container>

            <!-- last name Column -->
            <ng-container matColumnDef="last_name">
                <th mat-header-cell *matHeaderCellDef> LAST NAME </th>
                <td mat-cell *matCellDef="let element"> {{element.last_name}}
                </td>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> EMAIL </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <!-- avatar Column -->
            <ng-container matColumnDef="avatar">
                <th mat-header-cell *matHeaderCellDef> AVATAR </th>
                <td mat-cell *matCellDef="let element"> <img
                        src={{element.avatar}} alt="user" class="profile-pic">
                </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button color="primary" (click)="openDialog(element.id)">edit</button>
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-raised-button  color="warn" (click)="deleteUser(element.id)">Delete</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator 
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="getusers($event)"
            aria-label="Select page">
        </mat-paginator>
    </mat-card>
 

    
</div>
